.mt-6.bg-white.shadow.px-4.py-5.sm:rounded-lg.sm:p-6
  .md:grid.md:grid-cols-3.md:gap-6
    .md:col-span-1
      %h3.text-lg.font-medium.leading-6.text-gray-900
        = t 'admin.scheduleCategories.title'
    .mt-6.md:col-span-2
      = tw_form_with model: [:admin, schedule_category], class: "px-10 py-4" do |form|
        = render 'shared/error_messages', error_messages: schedule_category.errors.full_messages
        = form.text_input :name
        = render 'admin/schedule_categories/colour_picker', schedule_category:
        .mt-8.border-t.border-gray-200.pt-5
          = render 'shared/button', cancel_text: t('buttons.cancel'), cancel_url: admin_schedule_categories_path, button_text: t('buttons.save')
