= render 'shared/form_card', title: t('admin.scheduleCategories.title') do
  = tw_form_with model: [:admin, schedule_category] do |form|
    = render 'shared/form_errors', errors: schedule_category.errors
    .space-y-1
      = form.text_input :name
      = render 'admin/schedule_categories/colour_picker', schedule_category:
    = render 'shared/form_actions', cancel_url: admin_schedule_categories_path
