%tr
  %td{class: td_class.render}
    = I18n.l(booking.start_on)
  %td{class: td_class.render}
    %ol
      = render partial: "shared/booking_card", locals: {schedule_category_name: booking.schedule_category.name, schedule_category_colour: booking.schedule_category.colour, participants: nil}
  %td{class: td_class.render}
    = link_to bookings_path(user_id: booking.user_id), class: link_class.render do
      = booking.user.name
  %td{class: td_class.render(text_align: :right)}
    = booking.participants
  - if can_edit?(booking)
    %td{class: td_class.render}
      .flex.gap-x-4.justify-end
        = render partial: 'shared/button_edit', locals:  {destination: edit_booking_path(booking)}
        = render partial: 'shared/button_delete', locals:  {destination: {model: booking} }
