<%= tag.div class: 'm-6', data: { controller: :resources, resources_rid_value: resource_booking.id } do %>
  <%= tag.input type: 'hidden', name: "booking[resource_bookings_attributes][#{resource_booking.id}][resource_id]", value: selected_resource_booking(params, resource_booking.id), data: { resources_target: :resourceId } %>
  <%= tag.div class: 'relative', data: { action: 'click->resources#toggle' } do %>
    <%= tag.div class: "relative h-72 w-full overflow-hidden rounded-lg", data: { resources_target: :bookingImage } do %>
      <%= image_tag resource_image(resource_booking), class: "h-full w-full object-cover object-center" %>
    <% end %>
    <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
      <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50">
      </div>
      <%= tag.p class: "relative text-lg font-semibold text-white" do %>
        <%= resource_booking.name %><br>
        Comensales: <%= resource_booking.max_capacity %>
      <% end %>
    </div>
  <% end %>
<% end %>
