= # %li removed
%p.text-ellipsis.overflow-hidden.whitespace-nowrap
  = content_tag :span, class: "inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-#{schedule_category_colour}-100 text-#{schedule_category_colour}-800" do
    = "#{schedule_category_name} #{participants}"
