= render 'shared/form_card', title: t('admin.resources.title') do
  = tw_form_with model: [:admin, resource] do |form|
    = render 'shared/form_errors', errors: resource.errors
    .space-y-1
      = form.text_input :name
      = form.number_input :max_capacity
      = form.file_input :photo
    = render 'shared/form_actions', cancel_url: admin_resources_path
