= render 'shared/form_card', title: t('admin.users.title') do
  = tw_form_with model: [:admin, user] do |form|
    = render 'shared/form_errors', errors: user.errors
    .space-y-1
      = form.text_input :name
      = form.text_input :username
      = form.text_input :email
      = form.text_input :password
    = render 'shared/form_actions', cancel_url: admin_users_path
