%tr
  %td{class: td_class.render}
    = link_to bookings_path(user_id: user.id), class: link_class.render do
      = user.name
  %td{class: td_class.render}
    = user.username
  %td{class: td_class.render}
    = user.email
  %td{class: td_class.render}
    .flex.gap-x-4.justify-end
      = render 'shared/button_edit', destination: edit_admin_user_path(user), data: {target: '_top'}
      = render 'shared/button_delete', destination: {model: [:admin, user]} 