= render 'shared/header', title: t('admin.users.title') do
  = render 'shared/button_new',  destination: new_admin_user_path, title: t('admin.users.newTitle')
%table.mt-6.min-w-full.table-stripped
  %thead
    %tr
      %th{class: th_class.render}
        = t 'admin.users.name'
      %th{class: th_class.render}
        = t 'admin.users.username'
      %th{class: th_class.render}
        = t 'admin.users.email'
      %th{class: th_class.render}
  %tbody
    = render partial: 'admin/users/user', collection: @users