= render 'shared/form_card', title: t('admin.customAttributes.title') do
  = tw_form_with model: [:admin, custom_attribute] do |form|
    = render 'shared/form_errors', errors: custom_attribute.errors
    .space-y-1
      = form.text_input :name
      .mt-4
        = form.check_input :block_on_schedule
    = render 'shared/form_actions', cancel_url: admin_custom_attributes_path
